body {
  font-family: "Roboto", sans-serif;
  margin: 0%;
}

.sign-in {
  border-radius: 5px;
  background-color: white;
  border: 2px solid royalblue;
  color: royalblue;
  height: 40px;
  width: 100px;
}

.try-it {
  border-radius: 5px;
  background-color: royalblue;
  border: 2px solid royalblue;
  color: white;
  height: 40px;
  width: 100px;
}

.middle-box {
  margin-left: 10%;
  align-items: center;
  color: white;
  display: flex;
  height: 550px;
  width: 80%;
  border: 2px solid black;
  border-radius: 25px;
  overflow: hidden;
  text-align: left;
}

.middle-box-right {
  background-color: royalblue;
  height: inherit;
  padding: 35px;
}

.middle-box-text {
  padding-top: 30px;
}

.middle-box-list-items {
  padding-top: 20px;
}

.middle-box-learn-more {
  color: white;
  background-color: royalblue;
  height: 50px;
  width: 300px;
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 25px;
}

.solutions {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.container {
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "email-dashboards task-management"
    "analytics project-calendars";
}

.email-dashboards {
  grid-area: email-dashboards;
}

.task-management {
  grid-area: task-management;
}

.analytics {
  grid-area: analytics;
}

.project-calendars {
  grid-area: project-calendars;
}

.email-dashboards,
.task-management,
.analytics,
.project-calendars {
  width: 40%;
  margin-left: 30%;
  padding-top: 50px;
}

.solutions-learn-more-button {
  background-color: white;
  height: 30px;
  width: 150px;
  border-radius: 5px;
}

.learn-more-button:hover {
  cursor: pointer;
}

.footer {
  color: white;
  background-color: royalblue;
  text-align: center;
  width: 100%;
}

h1 {
  padding-top: 30px;
}

.get-started-button {
  height: 50px;
  width: 250px;
  color: white;
  background-color: rgb(95, 210, 85);
  font-size: 18px;
  font-weight: bolder;
  border-radius: 10px;
  border: none;
  margin-right: 30px;
}

.get-started-button:hover {
  cursor: pointer;
}

.chat-with-us-button {
  height: 50px;
  width: 200px;
  font-size: 16px;
  color: royalblue;
  font-weight: bolder;
  border-radius: 10px;
  border: none;
  margin-left: 30px;
}

.chat-with-us-button:hover {
  cursor: pointer;
}

.footer-bottom {
  display: flex;
  list-style: none;
  justify-content: center;
}

.footer-bottom-text {
  padding: 15px;
}

.ellipse {
  width: 10px;
  height: 10px;
  margin-top: 22.5px;
}
